/*styles.css */
body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #02001f, #110d41);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: #cbc5c5;
    margin: 20px;
}
p {
    color: #cbc5c5;
    margin: 20px;
}